<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-me">Contact Me</a>
    </header>
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium, leo sit amet 
        scelerisque fermentum, enim metus posuere sem, vel malesuada tortor enim non massa. 
        Vivamus lorem erat, convallis sit amet tellus ut, auctor hendrerit nisi. Pellentesque sagittis, 
        quam sed hendrerit convallis, tellus arcu condimentum ante, quis sodales leo arcu sed dui. 
        Sed vulputate leo sed enim interdum semper. Donec volutpat nibh leo, nec laoreet dolor tempor commodo. 
        Proin non nisi mattis, tincidunt diam non, placerat tellus. Vestibulum vel tempor risus, sed iaculis 
        sapien. Vestibulum non sem nec sapien facilisis pharetra consectetur a nisl. Donec consequat mauris id 
        lorem interdum, ac pellentesque erat congue. Sed tristique mi in mattis consequat. Ut semper, purus non 
        tristique mollis, orci nulla pulvinar ex, sit amet finibus dolor arcu vel purus. Maecenas dapibus felis 
        ac est suscipit efficitur. Phasellus vel tincidunt magna, eu finibus ipsum.
    </p>
</body>
</html>