<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-me">Contact Me</a>
    </header>
    <h1>WELCOME!</h1>
    <p>
        Ut eget posuere nisi. Vestibulum ante ipsum primis in faucibus orci luctus 
        et ultrices posuere cubilia curae; Suspendisse in aliquet quam. Vivamus ullamcorper, 
        tortor nec pellentesque ullamcorper, justo libero laoreet ipsum, non 
        ultrices nulla libero eu nunc. Donec viverra venenatis lobortis. Quisque mattis, 
        ex in tempor bibendum, erat lorem viverra neque, ac varius turpis dui vel libero. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. In malesuada maximus quam.
        Ut at porta ipsum. Proin at turpis risus. Etiam dui odio, iaculis nec interdum vitae, 
        placerat at arcu. Sed lobortis dolor ut eros fringilla, vitae semper ipsum ullamcorper.
    </p>
</body>
</html>